dataclasses==0.8; python_version~="3.6.0"
numpy==1.18.1; python_version=="3.6"
numpy; python_version>"3.6"
PyQt6
PythonQwt==0.8.3; python_version=="3.6"
PythonQwt; python_version>"3.6"
setuptools; python_version>="3.12"